.grid-container{
    border: 1px solid #fdf9f9;
    display: grid;
    margin-left: 50px;
    margin-right: 50px;
    grid-template-columns:1fr 1fr 1fr;
   /* grid-template-columns:repeat(auto-fill, 100px);*/
    gap: 10px;
}

.grid-item{
    /*display: flex;
    flex-direction:column;
    /*align-items:center;*/
    
   /* justify-content: center;*/
    margin-left:75px;
    /*margin-right: 50px;*/
    background-color: white;
    text-align:left;
  /* border: 2px  rgb(211, 211, 222);*/
   /*box-shadow: 2px 2px 2px 2px rgb(95, 93, 93); */
    /*border-style: groove;*/
    box-shadow: 2px 2px 10px 10px #d3d0d0;


   /* box-shadow: 3px;*/
    padding: 20px;
    height: 370px;width: 250px ;
    margin-top: 50px;
    /*justify-items:left;*/
}
.flex-container{
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
}
.flex-item{
    flex: 1;
}
.flex-item1{
    background-color:white;
    padding-left: 50px;
    
}
.flex-item2{
   /* background-color:rgb(196, 184, 184);
    /*padding-left: 70px;*/
    height:10px;
font-size: 16pt;
font-weight: bold;
padding-left: 30px;
   
}
.flex-item3{
    background-color:white;
    padding-left: 30px;
    padding-top: 0px;
  }
.flex-item4{
    background-color:white;
    padding-left: 30px;
    padding-top: 0px;
}

.flex-item5{
    padding-left: 30px;
   
}
/*img{
    align-self: center;
}*/
.item h4{
    text-align: left;
    height: 45px;
    color: rgb(83, 2, 2);
}
.item h2{color: black;
text-align: left   ;
    
}
img{
    width: 150px;height: 200px;
    align-items: center;
}